/* Fondo general */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a1a2f;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Columnas decorativas */
.side {
    position: fixed;
    top: 0;
    width: 80px;
    height: 100%;
    background: #001f4d;
    z-index: -1;
}
.left { left: 0; }
.right { right: 0; }

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

/* Cabecera con foto + info */
.header {
    display: flex;
    align-items: center;
    background: #102b46;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.profile-pic img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #00aaff;
    object-fit: cover;
    margin-right: 25px;
}

/* Info personal */
.info h1 {
    margin: 0;
    font-size: 26px;
    color: #00aaff;
}
.info h3 {
    margin: 5px 0;
    font-weight: normal;
    color: #ccc;
}
.info p {
    font-size: 15px;
}

/* Secciones */
.details h2 {
    color: #00aaff;
    margin-top: 20px;
    border-left: 5px solid #00aaff;
    padding-left: 10px;
}

.details ul {
    list-style: none;
    padding: 0;
}
.details ul li {
    background: #102b46;
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
}


.link-proyecto {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link-proyecto:hover {
  color: #ffcc00;
}

/* Galería */
.gallery {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.gallery img {
    width: 45%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
